/* Styling for the question */
#question {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Styling for the option buttons */
.option-button {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px auto;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 22px;  /* Bigger font size for options */
    text-align: left;
    transition: background-color 0.3s ease;
}

.option-button:hover {
    background-color: #e7e7e7;
}

/* Styling for the result and counters */
#result {
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

#correct-count{
    font-size: 22px;  /* Larger font size for counters */
    margin-top: 20px;
    color:rgb(13, 187, 21)
}

#attempted-count{
    font-size: 22px;  /* Larger font size for counters */
    margin-top: 20px;
    color: rgb(202, 0, 0)
}

#questions-left {
    font-size: 22px;  /* Larger font size for counters */
    margin-top: 20px;
    color:orange
}
